body {
    background-color: #555B6E;
    font: #FCF8E8;
    text-align: center;
    align-content:center;
    margin: auto;
    width: 500px;
}

.navbar {
    background-color: #4a4e5d;
    color: #FCF8E8;
    font-size: 200%;
    font-family: ;
    border-radius: 0.5EM;
    padding : -5px;

    border : 1px dashed #000;
    ;

}

.main {
    background-color: #4a4e5d;
    color: #BEE3DB;
    font-size: medium;
    border : 1px dashed #000;
    border-radius: 0.5EM;
    padding : 5px;



}

.footer {
    background-color: #4a4e5d;
    color: #d5d5d5;
    font-size: xx-small;
    font-style: normal;
    padding : 0px;


}

a {
    color: #FCF8E8;
}

a:hover {
    color: #00FFFC;
  }