body {
    background-image: url("image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font: #FCF8E8;
    text-align: center;
    align-content:center;
    margin: auto;
    width: 800px;
}

.navbar {
    background-color: #555B6E;
    opacity: 0.6;
    color: #FCF8E8;
    font-size: 200%;
    border-radius: 0.5EM;
    padding : -5px;
    border : 1px dashed #000;
    font-family:monospace;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #93cad3, 0px 0px 10px #b393d3, 0px 0px 20px #b393d3
    ;

}

.main {
    background-color: #555B6E;
    color: #BEE3DB;
    opacity: 0.6;
    font-size: medium;
    border : 1px dashed #000;
    border-radius: 0.5EM;
    padding : 5px;
    font-family:Helvetica;



}

.footer {
    background-color: #555B6E;
    opactiy: 0.6;
    color: #d5d5d5;
    font-size: xx-small;
    font-style: normal;
    padding : 0px;
    font-family:Helvetica;


}

a {
    color: #bcf8f2;
}

a:hover {
    color: #00FFFC;
  }
